@* on-time accept summary monthly table *@
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <b>Summary of inbound</b>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="inboundSummary" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>DEPARTMENT</th>
                                    <th>SECTION</th>
                                    <th>SUM DN</th>
                                    <th>ON TIME</th>
                                    <th>DELAY</th>
                                    <th>ADJ</th>
                                    <th>Plan</th>
                                    <th>%ONTIME</th>
                                    <th>%ADJ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* on-time accept monthly table *@
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <b>Detail of inbound</b>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="inbound" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>YEAR</th>
                                    <th>DEPARTMENT</th>
                                    <th>SECTION</th>
                                    <th>MATNAME</th>
                                    <th>SUM DN</th>
                                    <th>ON TIME</th>
                                    <th>DELAY</th>
                                    <th>ADJ</th>
                                    <th>PLAN</th>
                                    <th>%ONTIME</th>
                                    <th>%ADJ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


