<footer class="footer">
    <span class="pull-right">
        @*Example text*@
    </span>
    <p>&copy; @DateTime.Now.Year - VK1 Application</p>

    <img width="150" height="25" src="~/Content/img/VK1_logo-01.png" />
</footer>
