<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        <a href="~/Home"><img src="~/Images/SCG Logistics_162_40.png" /></a>
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">HOMER APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="~/Login/SignOut">
                            <i class="fa fa-lock small"></i><span style="font-size:medium"> Logout</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/Login">
                            <i class="fa fa-lock small"></i><span style="font-size:medium"> Login</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            @if (User.Identity.IsAuthenticated) {
                <li class="dropdown">
                    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                        <i class="pe-7s-speaker"></i>
                        <span class="label label-success">Manage</span>
                    </a>
                    <ul class="dropdown-menu hdropdown notification animated flipInX">
                        <li>
                            <a href="~/Login/ChangePassword">
                                <i class="fa fa-lock small"></i><span style="font-size:medium"> Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Login/SignOut">
                                <i class="fa fa-lock small"></i><span style="font-size:medium"> Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Login">
                        <i class="fa fa-lock small"></i><span style="font-size:medium"> Login</span>
                    </a>
                </li>
            }

            @*<li class="dropdown">
                <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                    <i class="pe-7s-speaker"></i>
                    <span class="label label-success">3</span>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li>
                        <a>
                            <span class="label label-success">      </span> Ontime
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-warning">      </span> Warning
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">      </span> Delay
                        </a>
                    </li>
                </ul>
            </li>*@
            <li>
                <a href="#">
                    <span style="font-size:small"><b>Call Us: </b>+6625863719</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
