<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <b>On-time Outbounded Approval</b> |
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form action="" id="frm" method="post" name="frm">
                            <table id="approveOutboundedTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @*<th><input name="select_all" value="1" type="checkbox"></th>*@
                                        <th>Shipment</th>
                                        <th>RegionName</th>
                                        <th>SoldtoName</th>
                                        <th>ShiptoName</th>
                                        <th>Reason</th>
                                        <th><input name="select_all" id="select_all" value="1" type="checkbox"> Approve</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @*<td></td>*@
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @*<td></td>*@
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="submit" class="btn btn-success" value="Update" id="btnUpdate" /></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
