@* on-time accept summary table *@
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    @*<div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                        <a class="toggle-vis" data-column="5">Tender</a>
                        <a class="toggle-vis" data-column="8">Accept</a>
                        <a class="toggle-vis" data-column="11">Inbound</a>
                        <a class="toggle-vis" data-column="14">Outbound</a>
                        <a class="toggle-vis" data-column="17">Delivery</a>
                        <a class="toggle-vis" data-column="20">Doc Return</a>
                    </div>*@
                    <b>KPI Summary (เฉพาะที่มีการวัดในระบบ)</b>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form action="" id="frm" method="post" name="frm">
                            <table id="ReportOperationsSummary" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2"></th>
                                        <th rowspan="2">Segment</th>
                                        <th rowspan="2">Customer</th>
                                        <th rowspan="2">Actual GI</th>
                                        <th colspan="3">Tender</th>
                                        <th colspan="3">Accept</th>
                                        <th colspan="3">Inbound</th>
                                        <th colspan="3">Outbound</th>
                                        <th colspan="3">Delivery</th>
                                        <th colspan="3">Doc Return</th>
                                    </tr>
                                    <tr>
                                        <th>Tender Count</th>
                                        <th>%Tender Ontime</th>
                                        <th>%Tender Adjusted</th>
                                        <th>Accept Count</th>
                                        <th>%Accept Ontime</th>
                                        <th>%Accept Adjusted</th>
                                        <th>Inbound Count</th>
                                        <th>%Inbound Ontime</th>
                                        <th>%Inbound Adjusted</th>
                                        <th>Outbound Count</th>
                                        <th>%Outbound Ontime</th>
                                        <th>%Outbound Adjusted</th>
                                        <th>Delivery Count</th>
                                        <th>%Delivery Ontime</th>
                                        <th>%Delivery Adjusted</th>
                                        <th>DocReturn Count</th>
                                        <th>%DocReturn Ontime</th>
                                        <th>%DocReturn Adjusted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
